body {
    margin: 0;
    background: rgb(238, 238, 238);
    display: flex;
    align-items: center;
    min-height: 100vh;
    justify-content: center;
}

section.container{
    display: flex;
    max-width: 65%;
    min-height: 350px;
}

.container article {
    margin: 10px;
    flex-shrink: 3;
}

.container article:nth-child(2){
    flex-shrink: 1;
}

img {
    height: 100%;
    width: 100%;
    border-radius: 12px;
    box-shadow: 1px 1px 13px -1px black;
    object-fit: cover;
}