html {
    box-sizing: border-box;
}

*, 
*::before,
*::after {
    box-sizing: inherit;
}

section {
    width: 250px;
    height: 250px;
    border: 4px rgb(35, 179, 105) dotted;
    text-align: center;
}

p {
    border: 5px rgb(9, 28, 189) solid;
    width: 100%;
    padding: 20px;
}
