@import url("https://use.fontawesome.com/releases/v5.15.4/css/all.css");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400&family=Montserrat:wght@600&display=swap");

body {
  margin: 60px 80px;
  font-family: "Lato", sans-serif;
  color: rgb(80, 82, 82);
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

h2 {
  font-family: "Montserrat", sans-serif;
  color: rgb(64, 76, 92)
}

.offer {
  margin: 60px auto;
  max-width: 1300px;
  display: flex;
  justify-content: space-between;
}

.offer-includes {
  background: rgb(221, 240, 253);
  border-radius: 8px;
  box-shadow: 1px 1px 11px -2px darkgrey;
  display: flex;
  flex-direction: column;
  padding: 20px
}

.offer-includes-title {
    margin-left: 30px
}

.offer-includes-list{
    margin: 0;
}

.offer-includes-list-item{
    display: flex;
    align-items: center;
}

.offer-includes-list-item i{
    color: rgb(62, 153, 246);
}

.offer-includes-list-item p{
    margin-left: 10px;
}

.offer-cost {
    border: 5px solid rgb(62, 153, 246);
    border-radius: 6px;
    padding: 110px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 1px 11px -2px darkgrey;
}

.offer-cost-heading{
    display: flex;
    align-items: center;
}

.offer-cost-title{
    color: rgb(62, 153, 246);
    padding-right: 12px;
    font-size: 36px;
}

.offer-cost-btn{
    background: rgb(62, 153, 246);
    padding: 10px 30px;
    border: none;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    box-shadow: 1px 1px 11px -2px darkgrey;
    margin-top: 20px;
}