body {
    margin: 0;
    display: flex;
    background: rgb(238, 238, 238);
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

* {
    box-sizing: border-box;
}

div.card{
    background: rgb(255, 255, 255);
    box-shadow: 1px 1px 11px -2px black;
    border-radius: 8px;
    padding: 12px;
    max-width: 392px;
    margin: 0 auto;
}

p {
    font-family: Helvetica, sans-serif;
}