html {
    font-family: Helvetica, sans-serif;
}

body {
    max-width: 1200px;
    margin: 70px auto;
}

header {
   border-bottom: 2px solid black; 
}

h1, nav {
    display: inline-block;
}

h1{
    margin-right: 30px;
}

nav ul li{
    display: inline-block;
    margin: 0 12px
}

nav a {
    color: rgb(21, 138, 64);
    text-decoration: none;
}

h1 {
    font-family: Times, 'Times New Roman', serif;
    font-weight: lighter;
}
