@media all and (max-width: 600px) {
    .w3-right.w3-hide-small{
        display: none;
    }

    #about .w3-image{
        display: none;
    }

    .w3-col.w3-padding-large{
        width: 100%;
    }
}