body {
    margin: 60px 80px;
    padding: 0;
    box-sizing: border-box;
    background: rgb(238, 238, 238);
    font-family: Helvetica, sans-serif;
}

.title-header{
    border-bottom: 2px solid black;
}

p.title{
    display: inline-block;
    text-transform: uppercase;
    font-family: Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 26px;
}

nav {
    float: right;
}

nav li {
    display: inline-block;
    margin-right: 15px;
    color: rgb(73, 109, 72);
}

h1,
blockquote {
    font-family: Georgia, serif;
    font-weight: lighter;
}

h1 {
    font-size: 1em/1.2;
}

main {
    float: left;
    width: 70%;
}

img {
    display: inline-block;
    background: rgb(255, 255, 255);
    box-shadow: 1px 1px 12px 3px rgb(0 0 0 / 25%);
    padding: 10px;
    border: 3px solid black;
}

img.first-img{
    float: right;
    vertical-align: top;
    margin-left: 20px;
    margin-bottom: 20px;
}

blockquote {
    float: right;
    width: 40%;
    font-style: italic;
    border-left: 4px solid lightgrey;
    padding-left: 35px;
}

blockquote p {
    text-align: right;
}

img.second-img{ 
    float: left;
    margin-right: 25px;
    margin-bottom: 20px;
}

aside {
    float: right;
    width: 20%;
}


aside section nav ul li {
    list-style: square;
}

aside li a {
    text-decoration: none;
    color: rgb(0, 102, 0);
}