@import url("https://use.fontawesome.com/releases/v5.15.4/css/all.css");

body {
  margin: 0;
}

.card {
  display: block;
}

.viewport {
    height: 100vh;
    position: relative;
}

.viewport:nth-child(1) {
  background: linear-gradient(
    90deg,
    rgba(16, 13, 79, 1) 0%,
    rgba(38, 129, 142, 1) 35%,
    rgba(57, 195, 144, 1) 100%
  );
}

.viewport:nth-child(2) {
  background: linear-gradient(
    90deg,
    rgba(152, 33, 95, 1) 0%,
    rgba(171, 67, 55, 1) 35%,
    rgba(196, 106, 20, 1) 100%
  );
}

.card{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.card img {
    border-radius: 4px;
}

.card i{
    color: white;
    font-size: 30px;
    position: absolute;
    right: 15px;
    bottom: 15px;
}